In [ ]:
!pip install faiss-cpu # Install faiss library

Requirement already satisfied: faiss-cpu in /usr/local/lib/python3.11/dist-packages (1.9.0.post1)
Requirement already satisfied: numpy<3.0,>=1.25.0 in /usr/local/lib/python3.11/dist-packages (from faiss-cpu) (1.26.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from faiss-cpu) (24.2)

In [ ]:
import faiss
import numpy as np
from sentence_transformers import SentenceTransformer
import json

# Sample metadata input (JSON format)

metadata_json ='/content/drive/MyDrive/Colab Notebooks/metadata.json'
with open(metadata_json, 'r') as file:
    metadata = json.load(file)
print(metadata)

{'table_descriptions': [{'table_name': 'actor', 'description': "The 'actor' table contains information about actors, including their unique actor IDs (aid), gender, name, nationality, city of birth, and year of birth. This table can be used to query demographic information about actors, group data by various attributes, and perform analytical operations such as ranking or comparisons.", 'columns': [{'name': 'actor.aid', 'description': 'A unique identifier for each actor. This field serves as the primary key of the table.'}, {'name': 'actor.gender', 'description': 'The gender of the actor, represented as a text field.'}, {'name': 'actor.name', 'description': 'The name of the actor, stored as text. This is the name by which the actor is known.'}, {'name': 'actor.nationality', 'description': 'The nationality of the actor, represented as text. This indicates the country the actor is associated with.'}, {'name': 'actor.birth_city', 'description': 'The city where the actor was born, stored as text.'}, {'name': 'actor.birth_year', 'description': "The year the actor was born, stored as an integer. This helps in determining the actor's age or generation."}], 'queries': [{'question': 'What is the name of the actor with ID 1?', 'query': 'SELECT name FROM actor WHERE aid = 1;'}, {'question': 'List all male actors.', 'query': "SELECT name FROM actor WHERE gender = 'male';"}, {'question': 'Who are the youngest actors in each nationality group?', 'query': 'WITH actor_age AS (SELECT name, nationality, birth_year, ROW_NUMBER() OVER (PARTITION BY nationality ORDER BY birth_year DESC) AS rank FROM actor) SELECT name, nationality, birth_year FROM actor_age WHERE rank = 1;'}, {'question': "What is the average birth year of actors grouped by nationality, and how does each actor's birth year compare to their national average?", 'query': 'WITH avg_birth_year AS (SELECT nationality, AVG(birth_year) AS avg_year FROM actor GROUP BY nationality) SELECT a.name, a.nationality, a.birth_year, ab.avg_year, a.birth_year - ab.avg_year AS difference FROM actor a JOIN avg_birth_year ab ON a.nationality = ab.nationality;'}, {'question': 'What are the top 3 most recent actors (by birth year) in each city of birth?', 'query': 'WITH ranked_actors AS (SELECT name, birth_city, birth_year, ROW_NUMBER() OVER (PARTITION BY birth_city ORDER BY birth_year DESC) AS rank FROM actor) SELECT name, birth_city, birth_year FROM ranked_actors WHERE rank <= 3;'}, {'question': "Which actors were born before 1980 and have 'American' nationality?", 'query': "SELECT name, birth_year FROM actor WHERE nationality = 'American' AND birth_year < 1980;"}, {'question': 'List all actors born after 1990, ordered by birth year in descending order.', 'query': 'SELECT name, birth_year FROM actor WHERE birth_year > 1990 ORDER BY birth_year DESC;'}, {'question': 'Which nationality has the most actors with the same name?', 'query': 'SELECT name, nationality, COUNT(*) AS name_count FROM actor GROUP BY name, nationality ORDER BY name_count DESC LIMIT 1;'}]}, {'table_name': 'cast', 'description': "The 'cast' table contains information about actors in movies or other productions. It tracks details such as the actor's unique ID (aid), their role in the production (role), and links to other tables through 'msid' and 'aid'. This table is useful for querying actor details, their roles in productions, and for analysis of cast membership across various productions.", 'columns': [{'name': 'cast.id', 'description': 'A unique identifier for each entry in the cast table. This field serves as the primary key.'}, {'name': 'cast.msid', 'description': 'A unique identifier for the production (movie, show, etc.) that the actor is associated with. It serves as a foreign key linking to other related tables.'}, {'name': 'cast.aid', 'description': 'A unique identifier for the actor. This serves as a foreign key linking to an actor table containing detailed information about the actor.'}, {'name': 'cast.role', 'description': 'The role that the actor plays in the associated production, represented as a text field.'}], 'queries': [{'question': 'What is the role of the actor with ID 1 in production with ID 100?', 'query': 'SELECT role FROM cast WHERE aid = 1 AND msid = 100;'}, {'question': "List all actors who played the role 'hero'.", 'query': "SELECT aid FROM cast WHERE role = 'hero';"}, {'question': "Which production has the most actors playing the role 'villain'?", 'query': "WITH villain_actors AS (SELECT msid, COUNT(*) AS actor_count FROM cast WHERE role = 'villain' GROUP BY msid) SELECT msid FROM villain_actors WHERE actor_count = (SELECT MAX(actor_count) FROM villain_actors);"}, {'question': 'For each production, list the actor IDs and their corresponding roles, ordered by the number of actors per production.', 'query': 'WITH production_roles AS (SELECT msid, role, COUNT(*) OVER (PARTITION BY msid) AS actor_count FROM cast) SELECT msid, role, actor_count FROM production_roles ORDER BY actor_count DESC;'}, {'question': 'Which actors have appeared in more than one production, and what are their roles in each production?', 'query': 'WITH actor_productions AS (SELECT aid, msid, role FROM cast GROUP BY aid, msid, role HAVING COUNT(msid) > 1) SELECT aid, msid, role FROM actor_productions;'}]}, {'table_name': 'classification', 'description': "The 'classification' table contains information about classifications for various items. It tracks details like the classification ID (id), the associated production (msid), and the group ID (gid). This table can be used for querying and analyzing the classification of productions or other entities based on group membership.", 'columns': [{'name': 'classification.id', 'description': 'A unique identifier for each classification entry. This field serves as the primary key.'}, {'name': 'classification.msid', 'description': 'A unique identifier for the production or item being classified. It serves as a foreign key linking to other related tables.'}, {'name': 'classification.gid', 'description': 'A unique identifier for the group to which the production is classified. This field helps in grouping items based on classification categories.'}], 'queries': [{'question': 'What is the group ID for production with ID 100?', 'query': 'SELECT gid FROM classification WHERE msid = 100;'}, {'question': 'List all productions that belong to group ID 10.', 'query': 'SELECT msid FROM classification WHERE gid = 10;'}, {'question': 'Which group has the most productions classified under it?', 'query': 'WITH group_count AS (SELECT gid, COUNT(*) AS production_count FROM classification GROUP BY gid) SELECT gid FROM group_count WHERE production_count = (SELECT MAX(production_count) FROM group_count);'}, {'question': 'For each group, list the number of productions classified under it and rank them by the number of productions.', 'query': 'WITH group_ranked AS (SELECT gid, COUNT(*) AS production_count, RANK() OVER (ORDER BY COUNT(*) DESC) AS rank FROM classification GROUP BY gid) SELECT gid, production_count, rank FROM group_ranked;'}, {'question': 'Which group has the least number of productions and what are their production IDs?', 'query': 'WITH group_count AS (SELECT gid, COUNT(*) AS production_count FROM classification GROUP BY gid) SELECT msid FROM classification WHERE gid = (SELECT gid FROM group_count WHERE production_count = (SELECT MIN(production_count) FROM group_count));'}]}, {'table_name': 'company', 'description': "The 'company' table contains information about companies, including their unique company IDs (id), name, and country code. The table can be used to query company information, such as finding companies by name or filtering by country code.", 'columns': [{'name': 'company.id', 'description': 'A unique identifier for each company. This field serves as the primary key of the table.'}, {'name': 'company.name', 'description': 'The name of the company, stored as text. This represents the official name of the company.'}, {'name': 'company.country_code', 'description': 'The country code for the company, stored as a varchar. It represents the country in which the company is located.'}], 'queries': [{'question': 'What is the name of the company with ID 1?', 'query': 'SELECT name FROM company WHERE id = 1;'}, {'question': 'List all companies based in the United States.', 'query': "SELECT name FROM company WHERE country_code = 'US';"}, {'question': 'What is the count of companies grouped by country code?', 'query': 'SELECT country_code, COUNT(*) AS company_count FROM company GROUP BY country_code;'}, {'question': 'What is the company with the highest ID in each country?', 'query': 'WITH company_ranking AS (SELECT name, country_code, id, ROW_NUMBER() OVER (PARTITION BY country_code ORDER BY id DESC) AS rank FROM company) SELECT name, country_code, id FROM company_ranking WHERE rank = 1;'}, {'question': 'Which company has the highest ID overall?', 'query': 'SELECT name, country_code, id FROM company ORDER BY id DESC LIMIT 1;'}, {'question': 'How many companies are there in each country code, sorted by country code?', 'query': 'SELECT country_code, COUNT(*) AS company_count FROM company GROUP BY country_code ORDER BY country_code;'}]}, {'table_name': 'copyright', 'description': "The 'copyright' table contains information about copyrights, including unique copyright IDs (id), media set IDs (msid), and company IDs (cid) associated with the copyright. This table can be used to track the relationship between media sets and companies for copyright purposes.", 'columns': [{'name': 'copyright.id', 'description': 'A unique identifier for each copyright. This field serves as the primary key of the table.'}, {'name': 'copyright.msid', 'description': 'The media set ID, which identifies the set of media that the copyright is associated with.'}, {'name': 'copyright.cid', 'description': 'The company ID, which links the copyright to a specific company.'}], 'queries': [{'question': 'What is the msid of the copyright with ID 1?', 'query': 'SELECT msid FROM copyright WHERE id = 1;'}, {'question': 'List all copyright entries linked to company ID 5.', 'query': 'SELECT id, msid FROM copyright WHERE cid = 5;'}, {'question': 'Count the number of copyrights for each company.', 'query': 'SELECT cid, COUNT(*) AS copyright_count FROM copyright GROUP BY cid;'}, {'question': 'Which company holds the most copyrights?', 'query': 'WITH company_copyrights AS (SELECT cid, COUNT(*) AS copyright_count FROM copyright GROUP BY cid) SELECT cid, copyright_count FROM company_copyrights ORDER BY copyright_count DESC LIMIT 1;'}, {'question': 'What is the latest copyright entry for each media set?', 'query': 'WITH ranked_copyrights AS (SELECT msid, id, ROW_NUMBER() OVER (PARTITION BY msid ORDER BY id DESC) AS rank FROM copyright) SELECT msid, id FROM ranked_copyrights WHERE rank = 1;'}, {'question': 'How many copyrights are there for media set ID 3?', 'query': 'SELECT COUNT(*) FROM copyright WHERE msid = 3;'}]}, {'table_name': 'directed_by', 'description': "The 'directed_by' table contains information about the directors of media, including unique directed-by IDs (id), media set IDs (msid), and director IDs (did). This table is used to track the relationship between directors and the media they are associated with.", 'columns': [{'name': 'directed_by.id', 'description': 'A unique identifier for each entry in the directed_by table. This field serves as the primary key.'}, {'name': 'directed_by.msid', 'description': 'The media set ID, representing the media that the director is associated with.'}, {'name': 'directed_by.did', 'description': 'The director ID, which links the media to the director.'}], 'queries': [{'question': 'Who is the director of the media set with ID 1?', 'query': 'SELECT did FROM directed_by WHERE msid = 1;'}, {'question': 'List all media sets directed by director ID 3.', 'query': 'SELECT msid FROM directed_by WHERE did = 3;'}, {'question': 'How many media sets are directed by each director?', 'query': 'SELECT did, COUNT(*) AS media_count FROM directed_by GROUP BY did;'}, {'question': 'Which director has directed the most media sets?', 'query': 'WITH director_counts AS (SELECT did, COUNT(*) AS media_count FROM directed_by GROUP BY did) SELECT did, media_count FROM director_counts ORDER BY media_count DESC LIMIT 1;'}, {'question': 'Which director has directed the most recent media set?', 'query': 'WITH ranked_directors AS (SELECT did, msid, ROW_NUMBER() OVER (PARTITION BY did ORDER BY msid DESC) AS rank FROM directed_by) SELECT did, msid FROM ranked_directors WHERE rank = 1;'}, {'question': 'How many directors are associated with media set ID 4?', 'query': 'SELECT COUNT(*) FROM directed_by WHERE msid = 4;'}]}, {'table_name': 'director', 'description': "The 'director' table stores information about directors, including their unique director ID (did), gender, name, nationality, city of birth, and year of birth. This table can be used to query demographic information about directors, analyze trends by nationality or city of birth, and explore the relationship between gender and birth year.", 'columns': [{'name': 'director.did', 'description': 'A unique identifier for each director. This field serves as the primary key of the table.'}, {'name': 'director.gender', 'description': 'The gender of the director, stored as text. This field can be used to group and analyze data by gender.'}, {'name': 'director.name', 'description': 'The name of the director, stored as text. This is the name by which the director is known.'}, {'name': 'director.nationality', 'description': 'The nationality of the director, stored as text. This field helps in categorizing directors by their country of origin.'}, {'name': 'director.birth_city', 'description': 'The city where the director was born, stored as text.'}, {'name': 'director.birth_year', 'description': "The year the director was born, stored as an integer. This helps in determining the director's age or generational trends."}], 'queries': [{'question': 'What is the name of the director with ID 1?', 'query': 'SELECT name FROM director WHERE did = 1;'}, {'question': 'List all female directors.', 'query': "SELECT name FROM director WHERE gender = 'female';"}, {'question': 'Which directors were born in the same city and have the same nationality?', 'query': 'WITH city_nationality AS (SELECT name, birth_city, nationality, COUNT(*) OVER (PARTITION BY birth_city, nationality) AS city_nationality_count FROM director) SELECT name, birth_city, nationality FROM city_nationality WHERE city_nationality_count > 1;'}, {'question': "What is the average birth year of directors grouped by nationality, and how does each director's birth year compare to their national average?", 'query': 'WITH avg_birth_year AS (SELECT nationality, AVG(birth_year) AS avg_year FROM director GROUP BY nationality) SELECT d.name, d.nationality, d.birth_year, ab.avg_year, d.birth_year - ab.avg_year AS difference FROM director d JOIN avg_birth_year ab ON d.nationality = ab.nationality;'}, {'question': "Which directors from the 'United States' have the most similar birth years?", 'query': "WITH director_ranked AS (SELECT name, birth_year, ROW_NUMBER() OVER (PARTITION BY nationality ORDER BY ABS(birth_year - (SELECT AVG(birth_year) FROM director WHERE nationality = 'United States'))) AS rank FROM director WHERE nationality = 'United States') SELECT name, birth_year FROM director_ranked WHERE rank = 1;"}, {'question': "What is the distribution of directors' birth years by city?", 'query': 'SELECT birth_city, COUNT(*) AS director_count FROM director GROUP BY birth_city ORDER BY director_count DESC;'}, {'question': "List directors born after 1970 in 'Los Angeles', ordered by name.", 'query': "SELECT name, birth_year FROM director WHERE birth_city = 'Los Angeles' AND birth_year > 1970 ORDER BY name;"}, {'question': 'Which nationality has the most directors born before 1950?', 'query': 'SELECT nationality, COUNT(*) AS director_count FROM director WHERE birth_year < 1950 GROUP BY nationality ORDER BY director_count DESC LIMIT 1;'}]}, {'table_name': 'genre', 'description': "The 'genre' table contains information about film genres, including a unique genre ID (gid) and the name of the genre. This table can be used to query and analyze film genre distributions and identify patterns across films.", 'columns': [{'name': 'genre.gid', 'description': 'A unique identifier for each genre. This field serves as the primary key of the table.'}, {'name': 'genre.genre', 'description': "The name of the genre, stored as text. This field represents the genre to which a film belongs (e.g., 'Action', 'Drama')."}], 'queries': [{'question': 'What is the name of the genre with ID 1?', 'query': 'SELECT genre FROM genre WHERE gid = 1;'}, {'question': 'List all genres.', 'query': 'SELECT genre FROM genre;'}, {'question': 'Which genres have more than 10 films associated with them?', 'query': 'WITH genre_count AS (SELECT genre, COUNT(*) AS film_count FROM films GROUP BY genre) SELECT genre FROM genre_count WHERE film_count > 10;'}, {'question': 'What are the top 3 most popular genres by film count?', 'query': 'WITH genre_popularity AS (SELECT genre, COUNT(*) AS film_count FROM films GROUP BY genre ORDER BY film_count DESC) SELECT genre FROM genre_popularity LIMIT 3;'}, {'question': 'How many genres have been used for films released after 2010?', 'query': 'SELECT COUNT(DISTINCT genre) FROM films WHERE release_year > 2010;'}]}, {'table_name': 'keyword', 'description': "The 'keyword' table contains keywords associated with films, including a unique ID (id) and the keyword itself. Keywords help categorize films based on specific themes, locations, or other attributes.", 'columns': [{'name': 'keyword.id', 'description': 'A unique identifier for each keyword. This field serves as the primary key of the table.'}, {'name': 'keyword.keyword', 'description': "The keyword associated with a film, stored as text. This field represents a specific theme, location, or attribute of a film (e.g., 'Romance', 'New York')."}], 'queries': [{'question': 'What is the keyword with ID 1?', 'query': 'SELECT keyword FROM keyword WHERE id = 1;'}, {'question': 'List all keywords.', 'query': 'SELECT keyword FROM keyword;'}, {'question': 'Which keywords are associated with more than 5 films?', 'query': 'WITH keyword_count AS (SELECT keyword, COUNT(*) AS film_count FROM films_keywords GROUP BY keyword) SELECT keyword FROM keyword_count WHERE film_count > 5;'}, {'question': "What are the most frequent keywords used in films with the 'Action' genre?", 'query': "WITH genre_keywords AS (SELECT k.keyword FROM films_keywords fk JOIN keyword k ON fk.keyword_id = k.id JOIN genre g ON fk.film_id = g.film_id WHERE g.genre = 'Action') SELECT keyword, COUNT(*) AS frequency FROM genre_keywords GROUP BY keyword ORDER BY frequency DESC;"}, {'question': "How many films have been associated with the keyword 'Romance'?", 'query': "SELECT COUNT(*) FROM films_keywords fk JOIN keyword k ON fk.keyword_id = k.id WHERE k.keyword = 'Romance';"}]}, {'table_name': 'made_by', 'description': "The 'made_by' table stores information about entities involved in the production of a movie, including the movie's unique ID, the ID of the entity (e.g., a person or organization), and the relationship between them (represented by columns like 'pid' and 'msid'). It helps track the entities associated with a specific movie production, providing insights into the production team.", 'columns': [{'name': 'made_by.id', 'description': 'A unique identifier for each movie production entry. This field serves as the primary key of the table.'}, {'name': 'made_by.msid', 'description': "The ID of the entity (e.g., a person or organization) involved in the movie production. This field is a foreign key referring to the respective entity's table."}, {'name': 'made_by.pid', 'description': 'The ID of the production, which associates the entity with a specific pr

In [ ]:
for table in metadata['table_descriptions']:
    if table['table_name'] == 'writer':
        table["description"]="The 'writer' table contains information about movie  writers, including their unique writer ID (wid), gender, name, nationality, city of birth, and birth year."

# Simple indexing

In [ ]:
# Load the model for sentence embeddings
model = SentenceTransformer('all-mpnet-base-v2')

NameError: name 'SentenceTransformer' is not defined

In [ ]:
# Function to create embeddings for text
def create_embeddings(texts):
    return model.encode(texts)

# Step 1: Index tables and columns using FAISS
def index_data(metadata):
    # Create lists for table and column descriptions
    table_descriptions = [table['description'] for table in metadata['table_descriptions']]
    column_descriptions = []
    column_refs = []

    for table in metadata['table_descriptions']:
        for column in table['columns']:
            column_descriptions.append(column["name"]+" " + column['description'])
            column_refs.append(column['name'])

    # Create embeddings for tables and columns
    table_embeddings = create_embeddings(table_descriptions)
    column_embeddings = create_embeddings(column_descriptions)
    print(column_descriptions)
    # FAISS index for tables
    table_index = faiss.IndexFlatL2(table_embeddings[0].shape[0])  # Using L2 distance (Euclidean distance)
    table_index.add(np.array(table_embeddings).astype('float32'))

    # FAISS index for columns
    column_index = faiss.IndexFlatL2(column_embeddings[0].shape[0])  # Using L2 distance (Euclidean distance)
    column_index.add(np.array(column_embeddings).astype('float32'))

    return table_index, column_index, column_refs, table_embeddings, column_embeddings

In [ ]:
# Step 2: Retrieve relevant tables and columns for a query
def retrieve_relevant_data(query, table_index, column_index, column_refs, table_embeddings, column_embeddings,metadata):
    # Embed the query using the same model
    query_embedding = create_embeddings([query])

    # Step 2.1: Retrieve relevant tables
    table_distances, table_indices = table_index.search(np.array(query_embedding).astype('float32'), k=4)  # Get top 4 relevant tables
    relevant_tables = [metadata['table_descriptions'][i]['table_name'] for i in table_indices[0]]

    # Step 2.2: Retrieve relevant columns for these tables
    relevant_columns = []
    for table in relevant_tables:
        # Filter columns related to the table
        table_columns = [column['description'] for column in next(t for t in metadata['table_descriptions'] if t['table_name'] == table)['columns']]

        column_distances, column_indices = column_index.search(np.array(query_embedding).astype('float32'), k=3)  # Get top 5 relevant columns
        for idx in column_indices[0]:
            relevant_columns.append(column_refs[idx])

    return relevant_tables, relevant_columns

In [ ]:
# Step 3: Index tables and columns
table_index, column_index, column_refs, table_embeddings, column_embeddings = index_data(metadata)

['actor.aid A unique identifier for each actor. This field serves as the primary key of the table.', 'actor.gender The gender of the actor, represented as a text field.', 'actor.name The name of the actor, stored as text. This is the name by which the actor is known.', 'actor.nationality The nationality of the actor, represented as text. This indicates the country the actor is associated with.', 'actor.birth_city The city where the actor was born, stored as text.', "actor.birth_year The year the actor was born, stored as an integer. This helps in determining the actor's age or generation.", 'cast.id A unique identifier for each entry in the cast table. This field serves as the primary key.', 'cast.msid A unique identifier for the production (movie, show, etc.) that the actor is associated with. It serves as a foreign key linking to other related tables.', 'cast.aid A unique identifier for the actor. This serves as a foreign key linking to an actor table containing detailed information about the actor.', 'cast.role The role that the actor plays in the associated production, represented as a text field.', 'classification.id A unique identifier for each classification entry. This field serves as the primary key.', 'classification.msid A unique identifier for the production or item being classified. It serves as a foreign key linking to other related tables.', 'classification.gid A unique identifier for the group to which the production is classified. This field helps in grouping items based on classification categories.', 'company.id A unique identifier for each company. This field serves as the primary key of the table.', 'company.name The name of the company, stored as text. This represents the official name of the company.', 'company.country_code The country code for the company, stored as a varchar. It represents the country in which the company is located.', 'copyright.id A unique identifier for each copyright. This field serves as the primary key of the table.', 'copyright.msid The media set ID, which identifies the set of media that the copyright is associated with.', 'copyright.cid The company ID, which links the copyright to a specific company.', 'directed_by.id A unique identifier for each entry in the directed_by table. This field serves as the primary key.', 'directed_by.msid The media set ID, representing the media that the director is associated with.', 'directed_by.did The director ID, which links the media to the director.', 'director.did A unique identifier for each director. This field serves as the primary key of the table.', 'director.gender The gender of the director, stored as text. This field can be used to group and analyze data by gender.', 'director.name The name of the director, stored as text. This is the name by which the director is known.', 'director.nationality The nationality of the director, stored as text. This field helps in categorizing directors by their country of origin.', 'director.birth_city The city where the director was born, stored as text.', "director.birth_year The year the director was born, stored as an integer. This helps in determining the director's age or generational trends.", 'genre.gid A unique identifier for each genre. This field serves as the primary key of the table.', "genre.genre The name of the genre, stored as text. This field represents the genre to which a film belongs (e.g., 'Action', 'Drama').", 'keyword.id A unique identifier for each keyword. This field serves as the primary key of the table.', "keyword.keyword The keyword associated with a film, stored as text. This field represents a specific theme, location, or attribute of a film (e.g., 'Romance', 'New York').", 'made_by.id A unique identifier for each movie production entry. This field serves as the primary key of the table.', "made_by.msid The ID of the entity (e.g., a person or organization) involved in the movie production. This field is a foreign key referring to the respective entity's table.", 'made_by.pid The ID of the production, which associates the entity with a specific production project.', 'movie.mid A unique identifier for each movie. This field serves as the primary key of the table.', 'movie.title The title of the movie, stored as a text field.', 'movie.release_year The year the movie was released, stored as an integer. It helps to filter movies by the release date.', "movie.title_aka The alternate or 'also known as' title of the movie, stored as text. It accounts for movies released under different names in various regions or markets.", 'movie.budget The budget of the movie, represented as text. This field may contain both numeric and non-numeric values depending on how the budget is recorded.', 'producer.pid A unique identifier for each producer. This field serves as the primary key for the table.', "producer.gender The gender of the producer, stored as text. Possible values could include 'male', 'female', or other relevant identifiers.", "producer.name The full name of the producer, stored as text. This field identifies the producer's identity in the database.", 'producer.nationality The nationality of the producer, stored as text. This indicates the country where the producer is from.', 'producer.birth_city The city where the producer was born, stored as text.', 'producer.birth_year The year the producer was born, stored as an integer. This can be used to calculate age or identify trends related to birth years.', 'tags.id A unique identifier for each tag. This field serves as the primary key of the table.', 'tags.msid The movie ID to which the tag is associated, stored as an integer. It is a foreign key reference linking to a movie record.', 'tags.kid A category identifier for the tag, stored as an integer. This field helps to group tags into specific categories.', 'tv_series.sid A unique identifier for each TV series. This field serves as the primary key of the table.', 'tv_series.title The title of the TV series, stored as text. This is the main name by which the series is known.', 'tv_series.release_year The year the TV series was released, stored as an integer. This is useful for filtering or analyzing series by their release period.', 'tv_series.num_of_seasons The total number of seasons in the TV series, stored as an integer. This provides an indication of the length of the series.', 'tv_series.num_of_episodes The total number of episodes in the TV series, stored as an integer. This can be used to understand the depth of the series.', 'tv_series.title_aka Alternative titles for the TV series, stored as text. This includes other names by which the series may be known.', 'tv_series.budget The budget of the TV series, stored as text. This can represent either the total budget or a text description of the budget.', 'writer.wid A unique identifier for each writer. This field serves as the primary key of the table.', 'writer.gender The gender of the writer, represented as text. This field helps in filtering or grouping writers based on gender.', 'writer.name The name of the writer, stored as text. This is the name by which the writer is known.', 'writer.nationality The nationality of the writer, represented as text. This helps in categorizing writers by their country of origin.', 'writer.birth_city The city where the writer was born, stored as text. This provides geographic context for the writer.', "writer.birth_year The year the writer was born, stored as an integer. This helps in determining the writer's age or generational context.", "written_by.id A unique identifier for each entry in the 'written_by' table, serving as the primary key.", 'written_by.msid The manuscript ID associated with a work. It links to a manuscript record, indicating which manuscript was authored.', 'written_by.wid The work ID associated with the manuscript. It helps to track which work a specific manuscript belongs to.']

In [ ]:
# print(table_index)
print(column_index)
# print(column_refs)
# print(table_embeddings)
# print(column_embeddings)

<faiss.swigfaiss_avx2.IndexFlatL2; proxy of <Swig Object of type 'faiss::IndexFlatL2 *' at 0x7c421daf7fc0> >

In [ ]:
# Example query
query = "Find all movies written and produced by 'Woody Allen'"

# Step 4: Retrieve relevant tables and columns for the query
relevant_tables, relevant_columns = retrieve_relevant_data(query, table_index, column_index, column_refs, table_embeddings, column_embeddings,metadata)

# Output
print("Relevant Tables:", relevant_tables)
print("Relevant Columns:", relevant_columns)

Relevant Tables: ['writer', 'producer', 'movie', 'genre']
Relevant Columns: ['directed_by.did', 'movie.release_year', 'movie.title', 'directed_by.did', 'movie.release_year', 'movie.title', 'directed_by.did', 'movie.release_year', 'movie.title', 'directed_by.did', 'movie.release_year', 'movie.title']

In [ ]:
from sklearn.metrics import precision_score, recall_score
import numpy as np

# Sample ground truth data
ground_truth_json ='/content/drive/MyDrive/Colab Notebooks/retrival_eval.json'
with open(ground_truth_json, 'r') as file:
    evaluation = json.load(file)

evaluation

{'queries': [{'query': "Find all movies produced by producer  'Walt Disney' after year 2010",
   'ground_truth': {'tables': ['COMPANY', 'COPYRIGHT', 'MOVIE'],
    'columns': ['COMPANY.NAME',
     'COPYRIGHT.CID',
     'COPYRIGHT.MSID',
     'MOVIE.TITLE',
     'MOVIE.RELEASE_YEAR']}},
  {'query': "What is the nationality of writer  'Kevin Spacey'?",
   'ground_truth': {'tables': ['WRITER'], 'columns': ['WRITER.NATIONALITY']}},
  {'query': "How much was the budget of  movie 'Finding Nemo'?",
   'ground_truth': {'tables': ['MOVIE'], 'columns': ['MOVIE.BUDGET']}},
  {'query': "Find all movies directed by director 'Steven Spielberg' after 2010",
   'ground_truth': {'tables': ['DIRECTED_BY', 'DIRECTOR', 'MOVIE'],
    'columns': ['DIRECTOR.NAME', 'MOVIE.TITLE', 'MOVIE.RELEASE_YEAR']}},
  {'query': "Who is the director of the movie 'James Bond'?",
   'ground_truth': {'tables': ['DIRECTED_BY', 'DIRECTOR', 'MOVIE'],
    'columns': ['DIRECTOR.NAME']}},
  {'query': "Find the actor who played role  'Alan Turing' in the movie 'The Imitation Game'",
   'ground_truth': {'tables': ['ACTOR', 'CAST', 'MOVIE'],
    'columns': ['ACTOR.NAME', 'CAST.ROLE', 'MOVIE.TITLE']}},
  {'query': "What is the genre of the movie 'Jurassic Park'?",
   'ground_truth': {'tables': ['CLASSIFICATION', 'GENRE', 'MOVIE'],
    'columns': ['GENRE.GENRE', 'MOVIE.TITLE']}},
  {'query': "Who was the director of the movie 'Joy' from 2015?",
   'ground_truth': {'tables': ['DIRECTED_BY', 'DIRECTOR', 'MOVIE'],
    'columns': ['DIRECTOR.NAME', 'MOVIE.TITLE', 'MOVIE.RELEASE_YEAR']}},
  {'query': "Find all movies written by writer  'Matt Damon'",
   'ground_truth': {'tables': ['MOVIE', 'WRITER', 'WRITTEN_BY'],
    'columns': ['MOVIE.TITLE', 'WRITER.NAME']}},
  {'query': "Find all movies written and produced by 'Woody Allen'",
   'ground_truth': {'tables': ['MADE_BY',
     'MOVIE',
     'PRODUCER',
     'WRITER',
     'WRITTEN_BY'],
    'columns': ['MOVIE.TITLE', 'PRODUCER.NAME', 'WRITER.NAME']}},
  {'query': "Find all movies featuring  actor 'Robin Wright'",
   'ground_truth': {'tables': ['ACTOR', 'CAST', 'MOVIE'],
    'columns': ['ACTOR.NAME', 'MOVIE.TITLE']}},
  {'query': 'What was the budget of the movie Junofrom 2007?',
   'ground_truth': {'tables': ['MOVIE'],
    'columns': ['MOVIE.BUDGET', 'MOVIE.RELEASE_YEAR', 'MOVIE.TITLE']}},
  {'query': 'Find all Sci-Fi genre movies produced in year 2012',
   'ground_truth': {'tables': ['CLASSIFICATION', 'GENRE', 'MOVIE'],
    'columns': ['GENRE.GENRE',
     'GENRE.GID',
     'CLASSIFICATION.GID',
     'CLASSIFICATION.MSID',
     'MOVIE.TITLE',
     'MOVIE.RELEASE_YEAR']}},
  {'query': "Find all actors born in city  'Austin' after 1993",
   'ground_truth': {'tables': ['ACTOR'],
    'columns': ['ACTOR.NAME', 'ACTOR.BIRTH_CITY', 'ACTOR.BIRTH_YEAR']}},
  {'query': "Find all movies by directors born in 'Los Angeles'",
   'ground_truth': {'tables': ['DIRECTED_BY', 'DIRECTOR', 'MOVIE'],
    'columns': ['DIRECTOR.BIRTH_CITY',
     'DIRECTOR.DID',
     'DIRECTED_BY.DID',
     'MOVIE.TITLE',
     'MOVIE.MID']}},
  {'query': "What company produced the movie 'Juno'?",
   'ground_truth': {'tables': ['COMPANY', 'COPYRIGHT', 'MOVIE'],
    'columns': ['COMPANY.NAME',
     'COPYRIGHT.CID',
     'COPYRIGHT.MSID',
     'MOVIE.TITLE']}},
  {'query': 'Find all movies that were produced by company_name0',
   'ground_truth': {'tables': ['COMPANY', 'COPYRIGHT', 'MOVIE'],
    'columns': ['COMPANY.NAME',
     'COPYRIGHT.CID',
     'COPYRIGHT.MSID',
     'MOVIE.TITLE']}},
  {'query': "Find all actors who were born in 'New York City' in year 1994",
   'ground_truth': {'tables': ['ACTOR'],
    'columns': ['ACTOR.NAME', 'ACTOR.BIRTH_CITY', 'ACTOR.BIRTH_YEAR']}},
  {'query': 'Find all movies about keyword book',
   'ground_truth': {'tables': ['KEYWORD', 'MOVIE', 'TAGS'],
    'columns': ['KEYWORD.KEYWORD', 'TAGS.KID', 'TAGS.MSID', 'MOVIE.TITLE']}},
  {'query': "Find all movies produced by 'Walt Disney' after 1998",
   'ground_truth': {'tables': ['COMPANY', 'COPYRIGHT', 'MOVIE'],
    'columns': ['COMPANY.NAME',
     'COPYRIGHT.CID',
     'COPYRIGHT.MSID',
     'MOVIE.TITLE',
     'MOVIE.RELEASE_YEAR']}},
  {'query': "Which movies did director 'Alfred Hitchcock' direct?",
   'ground_truth': {'tables': ['DIRECTED_BY', 'DIRECTOR', 'MOVIE'],
    'columns': ['DIRECTOR.DID',
     'DIRECTOR.NAME',
     'MOVIE.TITLE',
     'MOVIE.MID']}}]}

In [ ]:
def calculate_precision_recall(ground_truth_columns, retrieved_columns):
    relevant_retrieved = len(set(ground_truth_columns) & set(retrieved_columns))
    precision = relevant_retrieved / len(retrieved_columns) if retrieved_columns else 0
    recall = relevant_retrieved / len(ground_truth_columns) if ground_truth_columns else 0
    if precision + recall > 0:
        f1 = 2 * (precision * recall) / (precision + recall)
    else:
        f1 = 0

    return precision, recall, f1

In [ ]:

def get_eval(retrieved_data,evaluation):
  queries = evaluation['queries']
  total_precision = 0
  total_recall = 0
  total_f1 = 0
  queries = evaluation['queries']
  num_queries = len(queries)
  import pandas as pd
  query_precisions = []
  query_recalls = []
  retrived_columns_list = []
  ground_truth_columns_list = []
  query_f1 =  []

  for i,query_data in enumerate(queries):
      ground_truth_columns = [column.lower()  for column in  query_data['ground_truth']['columns']]
      retrieved_columns = retrieved_data['retrieved_columns'][i]

      precision, recall, f1 = calculate_precision_recall(ground_truth_columns, retrieved_columns)
      query_precisions.append(precision)
      query_recalls.append(recall)
      query_f1.append(f1)
      total_precision += precision
      total_recall += recall
      total_f1 += f1
      retrived_columns_list.append([" ".join(retrieved_columns)])
      ground_truth_columns_list.append([" ".join(ground_truth_columns)])
  eval_df = pd.DataFrame({"queries":retrieved_data["query"],"ground_truth_cols":ground_truth_columns_list,"retrived_columns":retrived_columns_list,"query_precisions":query_precisions,"query_recalls":query_recalls,"query_f1":query_f1})
  eval_df.to_csv("retrival_eval.csv",index=False)


  # Calculate average precision and recall across all queries
  avg_precision = total_precision / num_queries
  avg_recall = total_recall / num_queries
  avg_f1 = total_f1 / num_queries
  # Output average precision and recall
  print(f"Average Precision: {avg_precision:.4f}")
  print(f"Average Recall: {avg_recall:.4f}")
  print(f"Average F1: {avg_f1:.4f}")

In [ ]:

retrieved_data = {"query":[],"retrieved_columns":[]}

queries = evaluation['queries']
from tqdm import tqdm
for query_data in tqdm(queries):
  query = query_data['query']
  relevant_tables, relevant_columns = retrieve_relevant_data(query, table_index, column_index, column_refs, table_embeddings, column_embeddings,metadata)
  retrieved_data["query"].append(query)
  retrieved_data["retrieved_columns"].append(relevant_columns)


get_eval(retrieved_data,evaluation)

100%|| 21/21 [00:02<00:00,  8.18it/s]

Average Precision: 0.1111
Average Recall: 0.5063
Average F1: 0.1748

# heirarchical indexing

In [ ]:

# Function to create embeddings for text
def create_embeddings(texts):
    return model.encode(texts)
# Step 1: Index tables and columns using FAISS
def index_data(metadata):
    # Create lists for table and column descriptions
    table_descriptions = [table['description'] for table in metadata['table_descriptions']]
    column_descriptions = []
    column_refs = []
    column_indexes = {}

    # Index tables
    table_embeddings = create_embeddings(table_descriptions)
    table_index = faiss.IndexFlatL2(table_embeddings[0].shape[0])  # Using L2 distance (Euclidean distance)
    table_index.add(np.array(table_embeddings).astype('float32'))

    # Index columns for each table
    for table in metadata['table_descriptions']:
        table_columns = []
        table_column_refs = []
        for column in table['columns']:
            table_columns.append(column['description'])
            table_column_refs.append(column['name'])

        # Create embeddings for columns of the current table
        column_embeddings = create_embeddings(table_columns)

        # FAISS index for columns of this table
        column_index = faiss.IndexFlatL2(column_embeddings[0].shape[0])
        column_index.add(np.array(column_embeddings).astype('float32'))

        # Store column index and references
        column_indexes[table['table_name']] = (column_index, table_column_refs)

    return table_index, column_indexes, table_embeddings

In [ ]:
def retrieve_relevant_data(query, table_index, column_indexes, metadata):
    # Embed the query using the same model
    query_embedding = create_embeddings([query])

    # Step 2.1: Retrieve relevant tables
    table_distances, table_indices = table_index.search(np.array(query_embedding).astype('float32'), k=3)  # Get top 3 relevant tables
    relevant_tables = [metadata['table_descriptions'][i]['table_name'] for i in table_indices[0]]

    # Step 2.2: Retrieve relevant columns for these tables
    relevant_columns = []
    for table in relevant_tables:
        # Get column index and references for the relevant table
        column_index, column_refs = column_indexes[table]

        # Search for relevant columns from the current table
        column_distances, column_indices = column_index.search(np.array(query_embedding).astype('float32'), k=5)  # Get top 5 relevant columns

        # Collect relevant columns
        for idx in column_indices[0]:
            relevant_columns.append(column_refs[idx])

    return relevant_tables, relevant_columns

In [ ]:
# Step 3: Index tables and columns
table_index, column_indexes, table_embeddings = index_data(metadata)

NameError: name 'index_data' is not defined

In [ ]:
print(table_index)
print(column_indexes)

<faiss.swigfaiss_avx2.IndexFlatL2; proxy of <Swig Object of type 'faiss::IndexFlatL2 *' at 0x7c41c7f1a700> >
{'actor': (<faiss.swigfaiss_avx2.IndexFlatL2; proxy of <Swig Object of type 'faiss::IndexFlatL2 *' at 0x7c41c7f1bb70> >, ['actor.aid', 'actor.gender', 'actor.name', 'actor.nationality', 'actor.birth_city', 'actor.birth_year']), 'cast': (<faiss.swigfaiss_avx2.IndexFlatL2; proxy of <Swig Object of type 'faiss::IndexFlatL2 *' at 0x7c41c7f19560> >, ['cast.id', 'cast.msid', 'cast.aid', 'cast.role']), 'classification': (<faiss.swigfaiss_avx2.IndexFlatL2; proxy of <Swig Object of type 'faiss::IndexFlatL2 *' at 0x7c41c7f19dd0> >, ['classification.id', 'classification.msid', 'classification.gid']), 'company': (<faiss.swigfaiss_avx2.IndexFlatL2; proxy of <Swig Object of type 'faiss::IndexFlatL2 *' at 0x7c41c7f1a910> >, ['company.id', 'company.name', 'company.country_code']), 'copyright': (<faiss.swigfaiss_avx2.IndexFlatL2; proxy of <Swig Object of type 'faiss::IndexFlatL2 *' at 0x7c41b7b655f0> >, ['copyright.id', 'copyright.msid', 'copyright.cid']), 'directed_by': (<faiss.swigfaiss_avx2.IndexFlatL2; proxy of <Swig Object of type 'faiss::IndexFlatL2 *' at 0x7c41b7b664c0> >, ['directed_by.id', 'directed_by.msid', 'directed_by.did']), 'director': (<faiss.swigfaiss_avx2.IndexFlatL2; proxy of <Swig Object of type 'faiss::IndexFlatL2 *' at 0x7c41b7b66700> >, ['director.did', 'director.gender', 'director.name', 'director.nationality', 'director.birth_city', 'director.birth_year']), 'genre': (<faiss.swigfaiss_avx2.IndexFlatL2; proxy of <Swig Object of type 'faiss::IndexFlatL2 *' at 0x7c41b7b66e20> >, ['genre.gid', 'genre.genre']), 'keyword': (<faiss.swigfaiss_avx2.IndexFlatL2; proxy of <Swig Object of type 'faiss::IndexFlatL2 *' at 0x7c41b7b67cc0> >, ['keyword.id', 'keyword.keyword']), 'made_by': (<faiss.swigfaiss_avx2.IndexFlatL2; proxy of <Swig Object of type 'faiss::IndexFlatL2 *' at 0x7c41b7b64570> >, ['made_by.id', 'made_by.msid', 'made_by.pid']), 'movie': (<faiss.swigfaiss_avx2.IndexFlatL2; proxy of <Swig Object of type 'faiss::IndexFlatL2 *' at 0x7c41b7b643f0> >, ['movie.mid', 'movie.title', 'movie.release_year', 'movie.title_aka', 'movie.budget']), 'producer': (<faiss.swigfaiss_avx2.IndexFlatL2; proxy of <Swig Object of type 'faiss::IndexFlatL2 *' at 0x7c41b7b64870> >, ['producer.pid', 'producer.gender', 'producer.name', 'producer.nationality', 'producer.birth_city', 'producer.birth_year']), 'tags': (<faiss.swigfaiss_avx2.IndexFlatL2; proxy of <Swig Object of type 'faiss::IndexFlatL2 *' at 0x7c41b7b64ff0> >, ['tags.id', 'tags.msid', 'tags.kid']), 'tv_series': (<faiss.swigfaiss_avx2.IndexFlatL2; proxy of <Swig Object of type 'faiss::IndexFlatL2 *' at 0x7c41b7b67720> >, ['tv_series.sid', 'tv_series.title', 'tv_series.release_year', 'tv_series.num_of_seasons', 'tv_series.num_of_episodes', 'tv_series.title_aka', 'tv_series.budget']), 'writer': (<faiss.swigfaiss_avx2.IndexFlatL2; proxy of <Swig Object of type 'faiss::IndexFlatL2 *' at 0x7c41b7b647b0> >, ['writer.wid', 'writer.gender', 'writer.name', 'writer.nationality', 'writer.birth_city', 'writer.birth_year']), 'written_by': (<faiss.swigfaiss_avx2.IndexFlatL2; proxy of <Swig Object of type 'faiss::IndexFlatL2 *' at 0x7c41b7b65830> >, ['written_by.id', 'written_by.msid', 'written_by.wid'])}

In [ ]:


# Example query
query = "Find all movies written and produced by 'Woody Allen'"

# Step 4: Retrieve relevant tables and columns for the query
relevant_tables, relevant_columns = retrieve_relevant_data(query, table_index, column_indexes, metadata)

# Output
print("Relevant Tables:", relevant_tables)
print("Relevant Columns:", relevant_columns)

Relevant Tables: ['writer', 'producer', 'movie']
Relevant Columns: ['writer.birth_year', 'writer.birth_city', 'writer.nationality', 'writer.gender', 'writer.name', 'producer.birth_city', 'producer.gender', 'producer.birth_year', 'producer.name', 'producer.nationality', 'movie.title', 'movie.release_year', 'movie.mid', 'movie.title_aka', 'movie.budget']

In [ ]:

retrieved_data = {"query":[],"retrieved_columns":[]}

queries = evaluation['queries']
from tqdm import tqdm
for query_data in tqdm(queries):
  query = query_data['query']
  relevant_tables, relevant_columns = retrieve_relevant_data(query, table_index, column_indexes, metadata)
  retrieved_data["query"].append(query)
  retrieved_data["retrieved_columns"].append(relevant_columns)


get_eval(retrieved_data,evaluation)

100%|| 21/21 [00:03<00:00,  6.40it/s]

Average Precision: 0.1429
Average Recall: 0.7540
Average F1: 0.2335

In [ ]:
!pip install rank_bm25  # Install the missing 'rank_bm25' package

Collecting rank_bm25
  Downloading rank_bm25-0.2.2-py3-none-any.whl.metadata (3.2 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from rank_bm25) (1.26.4)
Downloading rank_bm25-0.2.2-py3-none-any.whl (8.6 kB)
Installing collected packages: rank_bm25
Successfully installed rank_bm25-0.2.2

In [ ]:
import faiss
import numpy as np
from sentence_transformers import SentenceTransformer
from rank_bm25 import BM25Okapi
import json
from sklearn.preprocessing import MinMaxScaler





def index_data(metadata):
    table_descriptions = [table['description'] for table in metadata['table_descriptions']]
    column_refs = {}
    column_indices = {}

    for table in metadata['table_descriptions']:
        column_refs[table['table_name']] = []
        column_descriptions = []
        for column in table['columns']:
            column_refs[table['table_name']].append(column['name'])
            column_descriptions.append(column['description'])

        # Create FAISS index for columns
        column_embeddings = create_embeddings(column_descriptions)
        column_index = faiss.IndexFlatL2(column_embeddings[0].shape[0])
        column_index.add(np.array(column_embeddings).astype('float32'))
        column_indices[table['table_name']] = column_index

    # Vector-based embeddings for tables
    table_embeddings = create_embeddings(table_descriptions)

    # FAISS index for tables
    table_index = faiss.IndexFlatL2(table_embeddings[0].shape[0])
    table_index.add(np.array(table_embeddings).astype('float32'))

    # BM25 indices for tables
    table_bm25 = BM25Okapi([desc.split() for desc in table_descriptions])

    return table_index, table_bm25, column_indices, column_refs, table_embeddings

# RRF combination function
def rrf_combine(rankings, k=60):
    scores = {}
    for system_rankings in rankings:
        for rank, item in enumerate(system_rankings):
            scores[item] = scores.get(item, 0) + 1 / (k + rank + 1)
    return sorted(scores.items(), key=lambda x: x[1], reverse=True)

# Step 2: Perform hybrid retrieval
def hybrid_search(query, embeddings, bm25_index, faiss_index, top_k=3):
    # Vector-based search
    query_embedding = create_embeddings([query])
    if faiss_index:
        distances, indices = faiss_index.search(np.array(query_embedding).astype('float32'), k=top_k)
        faiss_ranking = indices[0].tolist()
    else:
        faiss_ranking = []

    # BM25 lexical search
    bm25_scores = bm25_index.get_scores(query.split())
    bm25_ranking = np.argsort(bm25_scores)[::-1][:top_k].tolist()

    # Combine rankings using RRF
    combined_ranking = rrf_combine([bm25_ranking, faiss_ranking])

    return [item[0] for item in combined_ranking[:top_k]]

# Step 3: Retrieve relevant data
def retrieve_relevant_data(query, table_index, table_bm25, column_indices, column_refs, metadata):
    # Retrieve relevant tables
    table_indices = hybrid_search(query, None, table_bm25, table_index)
    relevant_tables = [metadata['table_descriptions'][i]['table_name'] for i in table_indices]

    # Retrieve relevant columns
    relevant_columns = []
    for table in relevant_tables:
        bm25 = BM25Okapi([col.split() for col in column_refs[table]])
        faiss_index = column_indices[table]
        column_ranking = hybrid_search(query, None, bm25, faiss_index, top_k=5)
        relevant_columns.extend([column_refs[table][idx] for idx in column_ranking])

    return relevant_tables, relevant_columns

# Index data
table_index, table_bm25, column_bm25, column_refs, table_embeddings = index_data(metadata)

# Example query
query = "Find all movies written and produced by 'Woody Allen'"

# Retrieve relevant tables and columns for the query
relevant_tables, relevant_columns = retrieve_relevant_data(query, table_index, table_bm25, column_bm25, column_refs, metadata)

# Output results
print("Relevant Tables:", relevant_tables)
print("Relevant Columns:", relevant_columns)

Relevant Tables: ['movie', 'tags', 'writer']
Relevant Columns: ['movie.title', 'movie.release_year', 'movie.budget', 'movie.title_aka', 'movie.mid', 'tags.msid', 'tags.kid', 'tags.id', 'tags.kid', 'writer.birth_year', 'writer.birth_city', 'writer.nationality', 'writer.name', 'writer.gender']

In [ ]:
retrieved_data = {"query":[],"retrieved_columns":[]}

queries = evaluation['queries']
from tqdm import tqdm
for query_data in tqdm(queries):
  query = query_data['query']
  relevant_tables, relevant_columns = retrieve_relevant_data(query, table_index, table_bm25, column_bm25, column_refs, metadata)
  retrieved_data["query"].append(query)
  retrieved_data["retrieved_columns"].append(relevant_columns)


get_eval(retrieved_data,evaluation)

100%|| 21/21 [00:11<00:00,  1.78it/s]

Average Precision: 0.1414
Average Recall: 0.6746
Average F1: 0.2260

In [ ]:
suggest_viz = '''
user_query : {user_query}
dataframe: {dataframe}

Visualisation Options: ['time series', 'bar plot', 'map', 'scatter_plot', 'piechart', 'None'].List of Visualization options.

Goal: Suggest suitable visualization(s) type from the following options to effectively represent the data for the given user question and the generated dataframe.

Guidelines:

Your recommendation should be based on only the given options.

If there is no suitable visualization return empty list.

The output should be formatted as a JSON instance that conforms to the 350N schema below.

As an example, for the valid  schema ("properties": {"foo": ("title": "foo", "description": "a list of strings", "type": "array", "items": ("type": "string"))}, "required": ["foo"]} the object ["foo": ["bar", "baz"]) is a well-formatted instance of the schema.
The object ("properties": ("foo": ["bar", "baz"]}) is not well-formatted.

Here is the output schema:

("properties": {"visualization type": ("description": "Suggested visualization type(s) for the given user question and the generated dataframe", "items": ["type": "string"), "title": "Visualization Type", "type": "array"}}, "required": ["visualization_type]}'''

In [ ]:
suggest_viz.format(user_query=query,dataframe=metadata)